/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D5D5D5;
    margin: 0em 0 3em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0.6em;
    font-weight: 400;
    color: #444;
}

h1 {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 2.5rem;
}

h1.detail {
    font-size:28px;
    line-height: 1.2;
    text-transform: none;
    letter-spacing: 1px;
    color: #999;
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}

h1.resume {
    font-size:34px;
    text-transform: none;
    letter-spacing: 1px;
    color: #999;
    margin-top:8px;
}

h2 {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #544379;
}


h2.tagline {
    font-size: 30px;
    color: #444;
    max-width: 100%;
    padding: 0 .6rem;
}

h3 {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    color: #a1a1a1;
}


h4.resume {
    font-weight: 500;
    margin-bottom: .1rem;
    padding: 0;
}

h5.resumedate {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .75rem;
}

.resume-box {
    border: solid #ccc;
    border-width: 4px 0px 0px 0px;
    padding-top: 4rem;
    clear: both;
}

.experience {
    padding-left: 0px;
    padding-right: .5rem;
}

p {
   font-weight: 300;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1.75rem;
}


a {
    text-decoration: none;
    color: #544379;
    border-bottom: 2px solid #544379;
}

a:hover {
    color: #8a7ca8;
    text-decoration: none;
    border-bottom: 2px solid #8a7ca8;
}

.caption {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #999;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

.caption-less-margin {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #999;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

.caption-skinny {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #999;
    font-style: italic;
    margin-top:none;
}


img {
    max-width: 100%;
    /*max-height: 800px;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile-photo {
    max-width: 42%;
}

.margin-bottom {
    margin-bottom: 2rem;
}

img.shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(157,157,157,.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(157, 157, 157, .3);
    box-shadow: 0px 0px 3px 0px rgba(157, 157, 157, .3);
}


.summary {
    font-size: 18px;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;

}

.content ul.bullets {
    font-weight: 300;
    list-style: square outside none;
    margin-left: 18px;
    margin-bottom: 2.6rem;
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 20px;
    line-height: 1.4;

}

.content ul.bullets li {
    margin-bottom: .5em;
}

body {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #444;
    text-rendering: optimizeLegibility;
    position: relative;
    font-size: 20px;
    line-height: 1.5;
}

.tagline {
    font-family: "leitura-news-1", "leitura-news-2", serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}


#page-wrapper {
    margin: 0 2%;
}

.button {
    font-size: 16px;
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #f7db1f;
    color: #544379;
    text-transform: uppercase;
    display: block;
    line-height: 50px;
    height: 50px;
    padding: 0 30px;
    box-sizing: border-box;
    border: none;
    -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;

    display: inline-block;
    margin-top: 0;
    margin-bottom: 2rem;
}


.button:hover {
    color: #fff;
    background-color: #544379;
    border: none;
}

.center {
    text-align: center;
}

.circle {
    border-radius: 50%;
}

/* ===========
   HEADER
   =========== */

#page-header {
    margin: 0 2%;
}

#page-header .col {
    position: relative;
}

#page-header .content {
    padding: 0 15px;
}

h1#logo {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 46px;
    margin: 0;

}

.home-tagline {
    text-align: center;
}

#logo a {
    border: none;
    color: #544379;
}

#logo a:hover {
    color: #e4cc2e;
}

.loading #loader {
    max-height: 50px;
}

#work-label {
    margin-bottom: 20px;
}

/* ===========
   MENU
   =========== */
/*
#menu {
    background-color: rgba(209,182,11,0.9);
}

#menu nav {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
#menu nav a {
    display: block;
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #544379;
    color: #fff;
    font-weight: 400;
    padding: 0.25em 0;
}
*/

.nav {
    text-align: center;
}

.nav a {
    font-size: 18px;
    text-decoration: none;
    border: none;
    margin-left: 2rem;
    padding-bottom: .25rem;
}

.nav a.active {
    border-bottom: 1px solid #333;
}

.nav a:first-child {
    margin-left: 0;
}

.nav a:hover {
    color: #8a7ca8;

}

.nav:not(.margin) {
    margin-left: 0px;
}

.nav a:active {
    color: black;
}

.nav-space {
    margin-bottom: 1rem;
}

#menu nav a:hover {
    color: #544379;
}

#menu-button-wrapper {
    position: relative;
}

#menu-button {
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: -12px;
    z-index: 101;
    padding: 10px 12px;

}

#menu-button div {
    width: 100%;
    height: 3px;
    background: #544379;
    margin: 3px auto;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#menu-button.on .menu-bar-one {
    -ms-transform: rotate(45deg) translate(4px, 4px);
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px);
}

#menu-button.on .menu-bar-two {
    opacity: 0;
}

#menu-button.on .menu-bar-three {
    -ms-transform: rotate(-45deg) translate(4px, -5px);
    -webkit-transform: rotate(-45deg) translate(4px, -5px);
    transform: rotate(-45deg) translate(4px, -5px);
}

/* ===========
   MODAL
   =========== */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    visibility: hidden;
}

.modal-on .modal {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal-on {
    overflow: hidden;
}

/* ===========
   CONTENT
   =========== */

.content-wrapper {
    background-color: #f1f1f1;
    background-size: 27px 14px;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 30px 15px 15px 15px;
    clear: both;
}

.content-wrapper .col {
    margin-bottom: 15px;
}

.content-wrapper article .col {
    margin-bottom: 30px;
}

.content-wrapper .col.empty {
    margin-bottom: 1px;
}

.content-wrapper.teal {
    background-color: #4AA5A5;
}

.content-wrapper.white {
    background-color: #fff;
}

.content-wrapper.teal h1,
.content-wrapper.teal h2,
.content-wrapper.teal h3,
.content-wrapper.teal h4 {
    color: #fff;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

.content ul {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
}

#loop {
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loop-item {
    font-weight: 400;
    display: none;
}

.loop-item.on {
    display: inline-block;
    opacity: 1;
}

.previous, .next {
    display: block;
    height: 70px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    border-bottom: none;
    fill: #e4cc2e;
    color: #e4cc2e;
    width: 50%;
    padding: 10px 15px;
}

.previous span, .next span {
    display: block;
    line-height: 50px;
    margin: 0 10px;
    text-transform: uppercase;
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
}

.previous svg, .next svg {
    margin-top: 11px;
}

.previous:hover, .next:hover {
    border-bottom: none;
    fill: #544379;
    color: #544379;
}

.previous * {
    float: left;
}

.next * {
    float: right;
}

.previous {
    border-right: 1px solid #f1f1f1;
    float: left;
}

.next {
    border-left: 1px solid #f1f1f1;
    float: right;
}

#work-footer {
    position: relative;
    z-index: 5;
}

#work-footer .tagline {
    max-width: 320px;
    margin: 0 auto;
}


.gray-text {
    color: #a1a1a1;
}

/* ===========
   THUMBNAILS
   =========== */

#thumbnails a {
    position: relative;
    width: 80%;
    display: block;
    border: none;
    overflow: hidden;
    height: 240px;
    margin: 0 auto;

}

#thumbnails a:hover {
    border: none;
}

.thumbnail-image {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    -webkit-transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#thumbnails a:hover .thumbnail-image {
    -ms-transform: scale(1.02,1.02);
    -webkit-transform: scale(1.02,1.02);
    transform: scale(1.02,1.02);

    -webkit-transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);

            }


.thumbnail-label {
    position: absolute;
    top: 168px;
    left: 0;
    width: 100%;
    height: 30%;
    background-color:
    rgb(255,255,255);
    z-index: 10;
    opacity: 0;

    -webkit-transition: opacity .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#thumbnails a .thumbnail-label {
    opacity: 1;
}

#thumbnails a:hover .thumbnail-label {
    background-color: rgb(84,67,121);
    -webkit-transition: all .25s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .25s cubic-bezier(0.42, 0, 0.58, 1);

}

#thumbnails a:hover .thumbnail-label span {
    color: #fff;
    -webkit-transition: all .25s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .25s cubic-bezier(0.42, 0, 0.58, 1);
}

.thumbnail-label span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(84,67,121);
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 30px;
    line-height: 1.2em;
    text-align: center;
    width: 80%;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

/* ===========
   FOOTER
   =========== */

footer {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 16px;
    color: #a9a9a9;
    text-align: center;
    margin: 40px 0;
    font-style: italic;
}

footer a {
    color: #a9a9a9;
    margin: 0 10px;
    border: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
}

footer a:hover {
    color: #544379;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 640px) {
    h1 {
        font-size: 56px;
    }

    .right {
        text-align: right;
    }

    #work-footer .tagline {
        max-width: inherit;
    }

    #page-header .content {
        padding: 0 30px;
    }

        .profile-photo {
    max-width: 60%;
}


    .content-wrapper {
        padding: 40px 30px 20px 30px;
    }

    .content-wrapper .col {
        margin-bottom: 20px;
    }

    .content-wrapper article .col {
        margin-bottom: 40px;
    }

    h2.tagline {
    font-size: 30px;
    }

    #logo {
        font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
        font-weight: 400;
        font-size: 40px;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-align: left;
        margin-top:1rem;
        margin: 0;
        line-height: 4;

    }

    h1#logo {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    line-height: 80px;
}

    .nav {
    line-height: 4;
    text-align: right;
}

    .tagline {
        font-size: 30px;
    }

    .home-tagline {
        max-width: 660px;
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    #thumbnails a {
    width: 100%;
}

/*    .profile-photo {
        text-align: right;
    }*/
}

@media only screen and (min-width: 960px) {
    #logo {
        margin: 30px 0;
        text-align: left;

    }

        h1#logo {
    font-family: "canada-type-gibson-1", "canada-type-gibson-2", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    line-height: 80px;
}

    #menu-button {
        top: 32px;
    }

    #page-header .content {
        padding: 0 60px;
    }

    .content-wrapper {
        padding: 80px 60px 40px 60px;
    }

    .content-wrapper .col {
        margin-bottom: 50px;
    }

    .content-wrapper article .col {
        margin-bottom: 50px;
    }

    .content-wrapper article .col.less-space {
        margin-bottom: 30px;
    }

    .experience {
    padding-left: 0px;
    padding-right: 6rem;
}

    h1.detail {
    font-size:34px;
    text-transform: none;
    letter-spacing: 1px;
    color: #999;
    margin-bottom: 2.5rem;
}

    hr {
    margin: 0em 0 4em 0;
    padding: 0;
}

    .nav a {
    font-size: 18px;
    text-decoration: none;
    border: none;
    margin-left: 2rem;
    padding-bottom: 2px;
}


    .nav-space {
    margin-bottom: 0rem;
}

    .profile-photo {
    max-width: 80%;
}

    .summary {
    font-size: 20px;
    padding-left: 12rem;
    padding-right: 12rem;
}

    .summary-left {
    font-size: 20px;
    }

    .summary-right {
    font-size: 20px;
    margin-top: .5rem;
    padding-left: 2rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
    }

    h2.tagline {
    font-size: 36px;
    color: #444;
    }


    .tagline {
    font-family: "leitura-news-1", "leitura-news-2", serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: none;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    }

    #thumbnails a {
    width: 100%;
}





/*    .previous, .next {
        width: 60px;
        height: 50px;
        position: fixed;
        top: 50%;
        margin-top: -50px;
        text-align: center;
        padding: 0;
        border: none;
    }*/

    .previous span:after, .next span:after {
        /*display: none;*/
        content: " Project";
    }

   /* .previous {
        left: 2%;
        margin-left: -5px;
    }

    .next {
        right: 2%;
        margin-right: -5px;
    }

    .previous *, .next * {
        float: none;
    }*/
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
